extends layout

block content
  h1= title
  p Welcome to #{title}. Use this form to add an encouraging message to the application.
  form(name="add-message", method="post")
    div.input
      span.label Message
      textarea(name="text", cols="40", row="5")
    div.actions
      input(type="submit", value="add")
